<section class="category">
    <h2><strong>Category</strong></h2>
    <div class="row">
        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Electronics</h4>
                    <a href="subcat">
                        <img class="item-img-top" src="assets/ele.png" alt="item" width="80%" height="80%">
                    </a>
                   
                </div>
            </div>
        </div>
    



        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Clothes</h4>
                    <a href="subcat2">
                        <img class="item-img-top" src="assets/cl.jpg" alt="item" width="60%" height="60%">
                    </a>
                </div>
            </div>
        </div>
    



        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Accessories</h4>
                    <a href="subcat3">
                        <img class="item-img-top" src="assets/emc.jpg" alt="item" width="80%" height="80%">
                    </a>
                </div>
            </div>
        </div>

         
        
        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Groceries</h4>
                    <a href="subcat4">
                        <img class="item-img-top" src="assets/gr.jpg" alt="item" width="80%" height="70%">
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>



