<section class="sub categories">
    <h2><strong>Sub Categories</strong></h2>
    
        <div class="row">
            <div class="col-sm-4" style="width:50rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body" >
            <h4 class="item-title">Mobiles</h4>
            <a href="prdt1">
                <img class="item-img-top" src="assets/mo.jpg" alt="item" width="200" height="200">
            </a>
        </div>
        </div>
            </div>



        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Laptops</h4>
                    <a href="prdt2">
                      <img class="item-img-top" src="assets/hp.png"alt="item" width="200" height="200">
                    </a>
            </div>
            </div>
            </div>
            

            <div class="col-sm-4" style="width:50rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body" >
                        <h4 class="item-title">Tv</h4>
                        <a href="tv">
                          <img class="item-img-top" src="assets/tel.jpg"alt="item" width="200" height="200">
                        </a>
                </div>
                </div>
                </div>

           
                
    